:root{
  --light-purple: #e2dfe7;
  --white: #fff;
  --table-background: #eff0f5;
  --table-heading-color:  #c8cad9;
  --search-placeholder: #8b8a9f;
  --input-box-shadow: #d6d5db;
}
.d-none{
  display: none !important;
}
.d-block{
  display: block !important;
}
.App{
  display: grid;
  place-items: center;
  height: 100vh;
}
.table-container{
  height: 90vh;
  width: 90vw;;
}

.input-box-shadow{
  box-shadow: 0 5px 20px var(--input-box-shadow);
}

* {
  outline: none;
}
